* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  background: whitesmoke;
}

.about .imgWrapper {
  width: 20%;
}

.portfolio {
  border: 10px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolioPiece {
  border: 2px solid hotpink;
  width: 48%;
}

.portfolio .imgWrapper {
  margin: 10px;
  overflow: hidden;
  width: 20%;
}
